<html>
	<head>
		<title>Submitted Succefully!</title>
		<link rel="stylesheet" href="styles.css">
		<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
		<script src="scripts.js"></script>
	</head>
</html>
<div class="container">
<p>==================</p>
<h2>Your submission was succesfull and you will receive your<br> 
	MESSAGE:<br><%=message%><br>
	on<br> DATE:<br><%=date%>/<%=month+1%></h2>
	<br>TIME:<br><%=hour%>:<%=minute%><br>
	to your mailing address<br>
	<%=toAddress%>
<p>==================</p>
</div>